html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas#viewport {
    background-image: url('img/mountains-tobias-keller.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

canvas#ui {
    z-index: 2;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
